@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 html {
   font-size: 62.5%;
 }

#content-wrapper {
  font-family: 'Josefin Sans', sans-serif;
  background-color: ivory;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  font-size: 3rem;
  letter-spacing: 1.2px;
  line-height: 1.4;
  padding: 5rem;
  width: 80rem;
  height: auto;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#text {
  margin-left: 10px;
}

#author {
  align-self: flex-end;
}

#buttons {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

#tweet-quote {
  display: flex;
  align-items: center;
}

#new-quote {
  font-family: sans-serif;
  text-transform: capitalize;
  letter-spacing: inherit;
  background-color: transparent;
  border-radius: 7px;
  cursor: pointer;
  padding: 0 1em;
}

#new-quote:focus,
#new-quote:active,
#new-quote:visited
 {
  outline: none;
}

#author-name {
  font-size: .8em;
}




